@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cta-button {
  background: linear-gradient(to right, #A855F7, #EC4899);
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  transition: background 0.3s ease;
}
.cta-button:hover {
  background: linear-gradient(to right, #9333EA, #DB2777); /* Darker gradient on hover */
}
.gradient-text {
  background: linear-gradient(to right,  #9333EA, #EC4899);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.underline-span {
  position: relative;
  display: inline-block;
}

.underline-span::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px; /* Adjust the thickness of the underline */
  background-color: currentColor; /* Matches the text color */
  width: calc(100% - 0.5em); /* Adjust the length to cover from 'U' to 'O' */
  transform: translateX(0.15em) translateY(0.3em); /* Adjust to fine-tune the underline's position */
}
